<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Mammography</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="mammography" class="h4 text-white">Mammography</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Mammography</h1>
                </div>
                <p class="mb-4 jus">mammography is a specialized type of X-ray imaging used primarily to detect and diagnose breast cancer. It creates two-dimensional images of the breast, helping doctors identify abnormalities such as tumors, cysts, and microcalcifications.</p>
                <p class="mb-4 jus">mammography is commonly used for routine breast cancer screening in women, especially those over 40 or those at higher risk. It helps diagnose breast abnormalities detected during a physical exam or through other imaging techniques. Patients are usually advised to avoid using deodorants, powders, or lotions on the day of the exam as these can appear as artifacts on the images. The patient stands in front of the mammography machine, and each breast is placed on a flat plate. Another plate compresses the breast to spread out the tissue, allowing for clearer images. A radiologist examines the images for any signs of abnormality. Dense areas, irregular shapes, or clusters of microcalcifications may indicate the need for further testing. If any suspicious areas are found, additional imaging or a biopsy may be recommended.</p>
            </div>
            <div class="col-lg-7">
               
                <div>
                    <img class="img-fluid rounded-top full-img" src="assets/img/Mammography.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>