<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Varicose Vein Ablation</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="varicose_vein_ablation" class="h4 text-white">Varicose Vein Ablation</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Varicose Vein Ablation Procedures</h1>
                </div>
                <p class="mb-4 jus">Varicose vein ablation is a minimally invasive procedure used to treat varicose veins. It involves closing off the affected veins to improve blood flow and reduce the appearance of the veins. Here's an overview of the procedure. Varicose vein ablation is a medical procedure used to treat varicose veins, which are enlarged, twisted veins usually found on the legs. The ablation technique involves using heat or cold energy to seal off the affected vein, causing it to collapse and eventually be reabsorbed by the body. This procedure helps redirect blood flow to healthier veins, improving circulation and reducing symptoms like pain, swelling, and discomfort associated with varicose veins. It's typically considered when conservative treatments like compression stockings fail to provide relief. Is there something specific you'd like to know about varicose vein ablation</p>
                
            </div>
            <div class="col-lg-7">
                
          <div>
            <img class="img-fluid rounded-top full-img" src="assets/img/bi6.jpg" alt="">
          </div>
            </div>
        </div>
    </div>
</div>