<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">PET Guide</h1>
            <a href="index.html" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="pet_guide" class="h4 text-white">PET Guide</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">PET Guide Procedures</h1>
                </div>
                <p class="mb-4 jus">In radiology, "PET" typically refers to "Positron Emission Tomography," which is a nuclear medicine imaging technique used to observe metabolic processes in the body. It's often combined with CT (Computed Tomography) to provide both functional and anatomical information in a single scan (PET/CT). PET scans detect radiation emitted by a tracer substance (radioactive glucose or other molecules) injected into the body. This helps visualize metabolic activity and cell function. Radiologists analyze PET/CT images to identify abnormalities, assess treatment response, and guide further management. PET/CT combines PET's functional information with CT's structural detail.</p>
             
            </div>
            <div class="col-lg-7">
               
                <div>
                    <img class="img-fluid rounded-top full-img" src="assets/img/price-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>