 



<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">About Us</h1>
            <a routerLink="/home" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="/about" class="h4 text-white">About</a>
        </div>
    </div>
</div>




<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class=" mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">About Us</h1>
                </div>
                <h4 class="text-body  mb-4" style="text-align: justify;">Solaris Medicare Diagnostic
                    Center, is at the forefront of medical technology and expertise. We are bringing the most
                    advanced and state of art diagnostic facilities, under one roof and delivering these healthcare
                    services in a patient friendly environment at very affordable prices. We seek to treating all
                    patients with compassion, kindness and provide healthcare services of outstanding quality at a
                    very reasonable cost. Our endeavour in the years to come is to ensure that Solaris Medicare
                    Diagnostic Center emerges as a Center of excellence for affordable diagnostic facilities to all
                    sections of society, so that patients do not have to travel to bigger cities for advanced
                    treatment options.</h4>
                
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Professional Staff</h5>
                    </div>
                   
                </div>
                <a routerLink="/contact" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                    data-wow-delay="0.6s">Contact Us</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<hr>