<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Nuclear Medicine</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="nuclear_medicine" class="h4 text-white">Nuclear Medicine</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
                <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="assets/img/about2.jpg" style="object-fit: cover;">
                    <img class="position-absolute w-100 h-100" src="assets/img/about2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title mb-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Nuclear Medicine</h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <b class="clr">Nuclear medicine</b>
                            <p class="mb-4 jus">Nuclear medicine is a medical specialty that uses small amounts of radioactive materials, known as radiopharmaceuticals, to diagnose and treat diseases. This field combines elements of chemistry, physics, biology, and medicine to provide unique insights into the function and structure of organs and tissues.</p>
                        </div>
                       
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <div class="rounded-top overflow-hidden">
                            <b class="clr">Nuclear medicine</b>
                            <p class="mb-4 jus">Nuclear medicine is a vital tool in modern healthcare, providing unique insights into the functioning of the body and enabling early diagnosis and targeted treatment of various diseases. It is especially valuable in oncology, cardiology, neurology, and endocrinology.</p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                        <div class="rounded-top overflow-hidden">
                            <b class="clr2">Radiopharmaceuticals:</b>
                            <p class="mb-4 jus">Radioactive compounds that are introduced into the body.</p>
                            <p class="mb-4 jus">Emit gamma rays or positrons detectable by special imaging equipment</p>
                            <p class="mb-4 jus">Commonly used radiopharmaceuticals include Technetium-99m, Iodine-131, and Fluorine-18.
                            </p>
                        </div>
                       
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <b class="clr2">Diagnostic Imaging:</b>
                            <p class="mb-4 jus">Bone Scans :
                                Detect bone abnormalities, such as fractures, infections, or cancer metastases.</p>
                            <p class="mb-4 jus">Cardiac Imaging :
                                Assesses blood flow to the heart muscle, evaluates coronary artery disease, and checks heart function.</p>
                            <p class="mb-4 jus">Thyroid Scans :
                                Evaluates thyroid gland function and detects abnormalities like hyperthyroidism or thyroid cancer.</p>  
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                
                    <b class="clr2">Imaging Techniques:</b>
                    <p class="mb-4 jus">PET CT :
                        Positron Emission Tomography Uses positron-emitting tracers to produce detailed 3D images. Often combined with CT (PET/CT) for more precise localization.</p>
                    <p class="mb-4 jus">SPECT CT :
                        Single Photon Emission Computed Tomography Uses gamma-emitting tracers to create 3D images. Often combined with CT (SPECT/CT).</p>
                    <p class="mb-4 jus">Gamma Camera :
                        Uses a gamma camera to capture 2D images of the distribution of radiopharmaceuticals in the body.</p>
                   
                </div>
            </div>
        </div>
    </div>
