<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a routerLink="/" class="navbar-brand p-0">
        <h1 class=""><img src="assets/img/logo.png" alt="" width="300px"></h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a routerLink="home" [routerLinkActive]="'active'" class="nav-item nav-link">Home</a>
            <a routerLink="about" [routerLinkActive]="'active'" class="nav-item nav-link">About</a>
            <div class="dropdown ">
              <a data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init
              class="btn nav-item nav-link dropdown-toggle " type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: normal; display: inline;">
              Facility
            </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" >
                            Radiology &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                          <li>
                            <a class="dropdown-item" routerLink="facility/radiology/x-ray" [routerLinkActive]="'active'">X-ray</a>
                          </li>
                          <li>
                            <a class="dropdown-item" routerLink="facility/radiology/mammography" [routerLinkActive]="'active'">Mammography</a>
                          </li>

                          <li>
                            <a class="dropdown-item"routerLink="facility/radiology/bone-densitometry" [routerLinkActive]="'active'">Bone
                                Densitometry</a>
                          </li>
                          <li>
                            <a class="dropdown-item" routerLink="facility/radiology/ultrasound" [routerLinkActive]="'active'">Ultrasound</a>
                          </li>
                          <li>
                            <a class="dropdown-item" routerLink="facility/radiology/ct-scan" [routerLinkActive]="'active'">CT-Scan</a>
                          </li>
                        </ul>
                      </li>

                  <li>
                    <a class="dropdown-item" >
                        Biopsies & Ablation &raquo;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu ">
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/vacuum_assisted_biopsy" [routerLinkActive]="'active'">Vacuum-Assisted Biopsy
                            </a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/vacuum_assisted_excision" [routerLinkActive]="'active'">Vacuum Assisted Excision</a>
                      </li>

                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/ct_guided_biopsy"[routerLinkActive]="'active'">CT Guided Biopsy</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/ultrasound_guided"[routerLinkActive]="'active'">Ultrasound Guided</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/radiofrequency_ablation"[routerLinkActive]="'active'">Radiofrequency Ablation</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/varicose_vein_ablation" [routerLinkActive]="'active'">Varicose Vein Ablation</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/guided_blocks" [routerLinkActive]="'active'">Guided Blocks</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="facility/biopsy-and-ablation/pet_guide" [routerLinkActive]="'active'">PET Guide</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="facility/nuclear_medicine" [routerLinkActive]="'active'">Nuclear Medicine</a>
                  </li>
                </ul>
              </div>
              <a routerLink="career"[routerLinkActive]="'active'" class="nav-item nav-link">Career</a>
            <a routerLink="contact"[routerLinkActive]="'active'" class="nav-item nav-link">Contact</a>
        </div>
      </div>
        <a routerLink="appointment" [routerLinkActive]="'active'"class="btn btn-primary py-2 px-4 ms-3">Appointment</a>
</nav>
