<div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <p
                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">
                    Suyojit Commercial Complex, S1-S3, National Hwy 3 Service Rd, Mumbai Naka, Govind Nagar,
                    Nashik, Maharashtra 422009</p>


               <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3749.5716232669256!2d73.7801329752286!3d19.984509781416207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDU5JzA0LjIiTiA3M8KwNDYnNTcuOCJF!5e0!3m2!1sen!2sin!4v1718978869849!5m2!1sen!2sin"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <p
                              style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;">
                              Behind Khurana Travels, Near Chunnilal Petrol Pump,
                              Adalat Road, Aurangabad-431001</p>

                         <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1921149.447118017!2d74.006317325!3d19.87187339999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdb986f43ea96c9%3A0x3aac8f45166fc6dc!2sSolaris%20Medicare%20Diagnostics%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1718893753736!5m2!1sen!2sin"
                              width="300" height="300" style="border:0; " allowfullscreen=""
                              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <p
                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">
                    Ramchandra complex, above Veda Banquet, Laxmi Peth, Damani Nagar, Solapur,
                    Maharashtra 413002</p>
               <iframe style="margin-right: 10px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1934141.934499524!2d74.28676672082045!3d18.770460172292076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5d12cc6eaa12f%3A0xd56e0ef9a051ffca!2sSolaris%20Medicare%20Diagnostics%20Pvt%20Ltd.!5e0!3m2!1sen!2sin!4v1718892999238!5m2!1sen!2sin"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>