<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Vacuum Assisted Excision</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="vacuum_assisted_excision" class="h4 text-white">Vacuum Assisted Excision</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Vacuum Assisted Excision Procedures</h1>
                </div>
                <p class="mb-4 jus">Vacuum-Assisted Excision (VAE) is a minimally invasive procedure similar to Vacuum-Assisted Biopsy (VAB) but is used for the removal of benign or suspicious breast lesions rather than just sampling them. VAE is performed under the guidance of imaging modalities such as mammography, ultrasound, or MRI to precisely locate and target the lesion. The procedure is conducted under local anesthesia to ensure patient comfort. A specialized needle or probe equipped with a vacuum mechanism is inserted into the breast tissue. The vacuum helps to draw the targeted lesion into the device. The device cuts and removes the lesion in small pieces, which are then collected in a chamber. This process is repeated until the entire lesion is excised.</p>
                
            </div>
            <div class="col-lg-7">
                
            <div>
                <img class="img-fluid rounded-top full-img" src="assets/img/bi2.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
</div>