<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Ultrasound</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="ultrasound" class="h4 text-white">Ultrasound</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Ultrasound Procedures</h1>
                </div>
                <p class="mb-4 jus">We perform ultrasound of different parts of the body. We are pioneers in the use of sonomammography and musculoskeletal ultrasound (for bones & joints) in this country.</p>
                <p class="mb-4 jus">Ultrasound is a medical imaging technique that uses high-frequency sound waves to produce images of structures within the body. It is commonly used to monitor the development of fetuses during pregnancy, diagnose conditions in various organs, and guide certain medical procedures. An ultrasound machine generates sound waves and sends them into the body using a transducer. These sound waves bounce off tissues and organs, creating echoes. The machine then collects these echoes and uses them to construct an image on a monitor. Preparation varies depending on the type of ultrasound. For example, abdominal ultrasounds may require fasting, while pelvic ultrasounds might require a full bladder. During the procedure, a conductive gel is applied to the skin to improve sound wave transmission. The transducer is then moved over the area of interest.</p>
            </div>
            <div class="col-lg-7">
             
            <div>
                <img class="img-fluid rounded-top full-img" src="assets/img/Ultrasound.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
</div>