
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Career</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="career" class="h4 text-white">Career</a>
        </div>
    </div>
</div>

<div class="container-fluid -5py wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" >
                <h3 class=" mb-3"  > Front Desk Executive </h3>
            </div>
            <div class="col-lg-7">
                
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <h3 class=" mb-3"  >RSO - Nuclear Medicine
                            Technologist </h3>
                        
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <h3 class=" mb-3"  >Executive - Admin & HR </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" >
                <h3 class=" mb-3"  >MRI Technician</h3>
            </div>
            <div class="col-lg-7">
                
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <h3 class=" mb-3"  >Ward Boy </h3>
                        
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <h3 class=" mb-3"  >Resident Medical Officer </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="d2">
    <b>Join Now</b>
    <p>Interested candidates please feel free to fill in the below form OR Drop us your updated CV at <br>Solaris Medicare Dignostic PVT.LTD <br>Radiologists may want to try the “Observership” section, if interested.</p>
</div>

<br><br><br><br>
<app-footer-map></app-footer-map>