<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Vacuum-Assisted Biopsy</h1>
            <a routerLink="/" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="vacuum_assisted_biopsy" class="h4 text-white">Vacuum-Assisted Biopsy</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Vacuum-Assisted Biopsy Procedures</h1>
                </div>
                <p class="mb-4 jus">Vacuum-Assisted Biopsy (VAB) is a minimally invasive procedure used in radiology to obtain tissue samples for diagnostic purposes, particularly in the context of breast imaging. VAB is typically performed under imaging guidance, such as mammography, ultrasound, or MRI, to accurately locate the area of interest. The procedure is usually done under local anesthesia to minimize discomfort. A specialized needle with a vacuum mechanism is inserted into the target tissue. The vacuum helps to draw tissue into the needle, which is then cut and collected in a chamber. The vacuum mechanism allows for the collection of multiple tissue samples through a single needle insertion, improving diagnostic accuracy.</p>
               
            </div>
            <div class="col-lg-7">
                
            <div>

            </div>
            <img class="img-fluid rounded-top full-img" src="assets/img/bi1.jpg" alt="">
            </div>
        </div>
    </div>
</div>