.pos{
    position: relative;
    z-index: 2;
    width: 40%;
    margin-left: 5px;
    padding: 5%;
}
.color{
    background-color: #06A3DA !important;
    color: white;
}
.pos2{
    position: absolute;
    left: 20%;
}
.color2{
    color: #8b181b;
}