


<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">

                        <h1 class="display-1 text-white mb-md-4 animated zoomIn"> Solaris Medicare <br>Diagnostic Center</h1>
                        <a routerLink="/appointment" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Appointment</a>
                        <a routerLink="/contact" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center ">
                   <div class="pos2">
                    
                   </div>
                   <div class="p-3" style="max-width: 900px;">

                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Our Facility </h1>
                    <a routerLink="/facility/radiology/x-ray" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">X-ray</a>
                   

                    <a routerLink="/facility/radiology/ultrasound" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Ultrasound</a>
                    <a routerLink="/facility/radiology/ct-scan" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">CT-Scan</a>
                </div>
                   
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container-fluid banner mb-5">
    <div class="container">
        <div class="row gx-0" >
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">
                    <h3 class="text-white mb-3">Opening Hours</h3>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Mon - Fri</h6>
                        <p class="mb-0"> 6:00am - 6:00pm</p>
                    </div>                    
                   
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-dark d-flex flex-column p-5" style="height: 230px;">
                    <h3 class="text-white mb-3">Make Appointment</h3>
                    <a routerLink="/appointment" class="btn btn-light">Appointment</a>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">
                    <h3 class="text-white mb-3">Contact</h3>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h3 class="text-white mb-3">0240 2363388/89</h3>
                    </div>                    
                   
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class=" mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Your Most Trusted Solaris <br>Medicare Diagnostic Center</h1>
                </div>
                <h4 class="text-body  mb-4">Solaris Medicare Diagnostic Center likely refers to a healthcare facility that provides diagnostic services.</h4>
                <p class="mb-4">Solaris Radiology Center is committed to providing high-quality diagnostic imaging services. Our team of experienced radiologists and state-of-the-art technology ensure accurate and timely diagnoses for our patients.</p>

                <a routerLink="/about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">About Us</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="assets/img/about.jpg" style="object-fit: cover;">
                    <p class="pos">Ourr endeavour in the years to come is to ensure that Solaris Medicare Diagnostic Center emerges as a Center of excellence for affordable diagnostic facilities to all section of society, so that patients do not have to travel to bigger cities for advanced treatment options.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="assets/img/about2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">Solaris Medicare Diagnostics Center</h1>
                </div>
                <h4 class="text-body  mb-4">Solaris Medicare Diagnostic Center likely refers to a healthcare facility that provides diagnostic services. These centers typically offer a range of diagnostic tests such as blood tests, imaging services (like X-Rays,MRIs, and CT Scan), and other laboratory tests to help diagnose various medical conditions.</h4>


                <a routerLink="/appointment" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Make Appointment</a>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                
                <h1 class="display-5 text-white mb-4">Why Choose Solaris Medicare?</h1>
                <p class="text-white mb-0">Solaris Medicare Diagnostic Center, is at the forefront of medical technology and expertise. we are bringing the most advanced and state of art diagnostic facilities, under one roof and delivering these healthcare services in a patient friendly environment at very affordable prices.</p>

                
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div >
                        <a routerLink="/about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s" style="width: 300px;">About </a>
                    </div>
                    <div >
                        <a routerLink="/services" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s" style="width: 300px;">Services</a>
                    </div>
                    <div >
                        <a routerLink="/contact" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s" style="width: 300px;">Contact</a>
                    </div>

                    <div>
                        <a routerLink="/appointment" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s" style="width: 300px;">Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                   
                    <h1 class="display-5 mb-0">Solaris Medicare Diagnostic Center</h1>
                </div>
                <p class="mb-4">Ourr endeavour in the years to come is to ensure that Solaris Medicare Diagnostic Center emerges as a Center of excellence for affordable diagnostic facilities to all section of society, so that patients do not have to travel to bigger cities for advanced treatment options.</p>
                <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Call for Appointment</h5>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">0240 2363388/89</h1>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    <div class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="assets/img/price-1.jpg" alt="">
                            <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                <h3 class="text-white mb-3">X-Rays</h3>
                            </div>
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">

                            <hr class="text-primary w-50 mx-auto mt-0">
                            <h3 class="text-white mb-3"  style="height: 300px;">X-Rays are a form of electromagnetic radiation, similar to visible light. Unlike light,however, X-Rays have higher energy</h3>

                            <a routerLink="appointment" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                        </div>
                    </div>
                    <div class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="assets/img/price-2.jpg" alt="">
                            <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                <h2 class="text-white mb-3">CT Scan</h2>
                            </div>
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                            <hr class="text-primary w-50 mx-auto mt-0">
                            <h3 class="text-white mb-3"  style="height: 300px;">A Computerized tomography Scan, also calleed a CT Scan, is a type of imaging that uses X-Rays techniques to create detailed images of the body</h3>


                            <a routerLink="appointment" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                        </div>
                    </div>
                    <div class="price-item pb-4">
                        <div class="position-relative">
                            <img class="img-fluid rounded-top" src="assets/img/price-3.jpg" alt="">
                            <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                <h2 class="text-white mb-3">MRI,Scan</h2>
                            </div>
                        </div>
                        <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">

                            <hr class="text-primary w-50 mx-auto mt-0">
                            <h2 class="text-white mb-3" style="height: 300px;">MRI, is a noninvasive medical imaging test that produces detailed images of almost every internal structure in the human body</h2>

                            <a routerLink="appointment" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">LABOTATORY SERVICES</h5>

                    <h4 class="mb-2 text-white">Blood tests, urine tests, and other lab work to diagnose conditions like diabetes, infections, and hormonal imbalances.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp " data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">CARDIOLOGY SERVICES</h5>

                    <h4 class="mb-2 text-white">ECG, <br> echocardiograms, and stress tests to monitor heart health, Measures the electrical activity of the heart to detect abnormalities.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">IMAGING SERVICES</h5>

                    <h4 class="mb-2 text-white">X-Rays, MRI Scans, CT Scans, ultrasound, and mammography to help diagnose injuries, tumors, and other internal issues.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">GAMMA CAMERA</h5>

                    <h4 class="mb-2 text-white">Cardiac Imaging Bone Scintigraphy, Thyroid Scanning, Renal Imaging, Liver and Gallbladder Imaging, Infection and Inflammaton Imaging, the Radiopharmaceutical distributes Throughout the body, and Radionuclide emits Gamma Rays.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">CT SCAN</h5>

                    <h4 class="mb-2 text-white">A CT Scan, or Computed Tomography Scan, is a Medical imaging Procedure that Combines X-Rays Measurements taken from different angles and computer processing to create cross-sectional images of the body.</h4>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class=" bg-light rounded h-100 p-5 color">
                    <h5 class="position-relative d-inline-block  text-uppercase">PETCT</h5>

                    <h4 class="mb-2 text-white">PET/CT(Positron Emission Tomography/ Computed Tomography) is a highly advanced imaging technique that combies hte functional imaging capabilities of PET with the anatomical imaging capabilities of CT.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<hr><hr>
<app-footer-map></app-footer-map>
