<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">X-Rays</h1>
            <a href="index.html" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="price.html" class="h4 text-white">X-Rays</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    <h1 class="display-5 mb-0">X-ray Procedures</h1>
                </div>
                <p class="mb-4 jus">Digital X-ray films of different parts of the body are obtained. Most commonly these are of the chest, abdomen, kidney-ureter-bladder (KUB), spine and different bones and joints. We take radiographs of all parts of the body.</p>
                <p class="mb-4 jus">X-rays are a form of electromagnetic radiation, similar to visible light but with much higher energy levels and shorter wavelengths. They are used extensively in medical imaging, security screening, and industrial applications. X-rays are part of the electromagnetic spectrum, with wavelengths ranging from about 0.01 to 10 nanometers. They have high energy, which allows them to penetrate various materials, including human tissues. X-rays are used to create images of the inside of the body. Common uses include chest X-rays, mammograms, and dental radiography. In radiation therapy, high doses of X-rays are used to treat cancer by killing or damaging cancer cells. X-rays are a powerful tool in medicine, industry, and security, providing critical information that cannot be obtained through other means. Understanding their properties, uses, and safety measures is essential for their effective and safe application.</p>
            </div>
            <div class="col-lg-7">
              
                <div>
                    <img class="img-fluid rounded-top full-img" src="assets/img/price-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>